!!! 5

%head
  %meta{ :charset => "utf-8" }
  %title= content_for?(:title) ? yield(:title) : "Coinery"

  = stylesheet_link_tag "application"

  %script{ :src => "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" }
  %script{ :src => "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js" }
  %script{ :src => "//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js" }

  = javascript_include_tag "application"
  = csrf_meta_tag


%body

  = yield

  = yield :javascript

